<div class="container m-5">
    <div class="jumbotron">
        <h1 class="display-4">Factory Manager</h1>
        <hr class="my-4">
        <p>Powerful production planning and scheduling</p>
    </div>
    <h4 *ngIf="!login">Select your factory</h4>
    <h4 *ngIf="login">welcome to the {{factoryName}} factory manager</h4>
    <hr>

    <form (ngSubmit)="go(form)" #form="ngForm" *ngIf="!login">

        <div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Factory</label>
                <div class="col-8">
                    <select [(ngModel)]="business.name" class="form-control" name="factory">
                      <option *ngFor="let factory of factories" [value]="factory.key">{{ factory.name }}</option>
                  </select>
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary">
        GO
      </button>
            </div>
        </div>

    </form>
    <div class="col-md-12 text-right" *ngIf="login">
        <button (click)="out()" type="button" class="btn btn-outline-danger"> logout</button>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="alert">
        Please select one factory
    </div>
    <app-cards [items]="products"></app-cards>

</div>